<li class="auto-menu">
  {{ range . }}
  {{ if .IsSection }}
  <div class="root-item">
    {{ $hasChildren := .Pages }}
    <div class="menu-item">
      <a href="{{ .RelPermalink }}" class="menu-link">
        {{ .Title | default .Params.title | default (replace (path.Base (trim .File.Path "/")) "-" " ") | title }}
      </a>
      {{ if $hasChildren }}
        <button class="toggle-btn" data-menu-id="{{ .RelPermalink }}">◀</button>
      {{ end }}
    </div>
    {{ with .Pages }}
      <ul class="submenu" style="display: none;">
        {{ range . }}
          {{ if not .IsSection }}
          <li>
            <a href="{{ .RelPermalink }}" class="menu-link">
              {{ .Title | default .Params.title | default (replace (path.Base (trim .File.Path "/")) "-" " ") | title }}
            </a>
          </li>
          {{ end }}
        {{ end }}
      </ul>
    {{ end }}
    </div>
  {{ end }}
  {{ end }}
</li>